.watch{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    margin-top: 100px;
}
.shop{
    display:grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 10px;
}
.header{
    text-align: center;
    background-color: rgb(158, 158, 185);
}

@media (max-width: 668px){
    .watch{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
.cart{
    background-color: rgb(214, 200, 200);
    text-align: center;
   
}